@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(255, 255, 255);
  background: rgb(0, 0, 0);
}

@property --rotate {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: false;
}

.gradient-card {
  padding: 1px;
  position: relative;
  border-radius: 12px;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  background: #000000;
}

.gradient-card::before {
  content: "";
  width: 101%;
  height: 102%;
  border-radius: 26px;
  background-image: linear-gradient(
      var(--rotate),
      #9660fa 0%,
      #b83bf6 33%,
      #1d52d8 66%
  );
  position: absolute;
  z-index: 1;
  top: -0.5%;
  left: -0.5%;
  animation: spin 2.5s linear infinite;
}

.gradient-card::after {
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  z-index: 0;
  height: 100%;
  width: 100%;
  transform: scale(0.9);
  filter: blur(30px);
  background-image: linear-gradient(
    var(--rotate),
    #5ddcff 0%, 
    #3c67e3 33%,
    #4e00c2 66%
  );
  opacity: 0.6;
  transition: opacity .5s;
  animation: spin 2.5s linear infinite;
}

@keyframes spin {
  0% {
    --rotate: 0deg;
  }
  100% {
    --rotate: 360deg;
  }
}
